body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #fff, #00eeff);
    font-family: "Times New Roman" , serif;
}

h1{
    margin: 10px;
}
h2{
    margin:15px 5px 5px 5px;
}
p{
    margin:5px 5px 5px 10px;
}
ul{
    margin:5px;
}

.center{
    text-align: center;
}
